---
title: 404 - Siden blev ikke fundet
permalink: 404.html
eleventyExcludeFromCollections: true
---

{% extends 'layouts/base.njk' %}

{% block content %}
  <article class="page-content page">
    <div class="error-image"><span>&times;</span></div>
    <h1 class="page-title">BEKLAGER, siden findes ikke!</h1>
    <p>Jeg har ledt overalt, men det ser ud til at siden ikke findes længere.</p>
    <p>Du kan prøve at start på <a href="/">forsiden</a>.</p>
  </article>
{% endblock %}
