<footer class="site-footer">
	<div class="disclaimer">
		<p>Har du fundet noget usædvanligt, så ring på +45 9894 4444</p>
	</div>

	<div class="nordea-fonden"><img src="{{ '/assets/images/nordea-fonden.svg' | url }}" width="97" height="30" alt="" /></div>
</footer>
