<header class="site-header">
	<div class="site-logo"><a href="#"><img src="{{ '/assets/images/logo.svg' | url }}" width="250" height="44" alt="" /></a></div>

	{% include 'partials/site-languages.njk' %}

	<a href='/forside' class="home-button"><img src="{{ '/assets/images/icon-house.svg' | url }}" width="36" height="36" alt="" /><br />Home</a>
</header>
